.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS for Contact Page */
#textBox{
    width: 50%;
    float: inline-end;
  }
  #messageBox{
    width: 50%;
    float: inline-start;
  }
  #contactIcons img{
    width: 40px;
  }
@media (max-width: 987px) {
  #textBox{
    width: 90vw;
    order: -1;
  }
  #messageBox{
    width: 90vw;
  }
}